name: Pull-request

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:

# Read the content of the file versions.json. It is interpreted as a json data in the next job.
  get-versions:
    runs-on: ubuntu-latest
    outputs: 
      versions: ${{ steps.read-file.outputs.versions }}
    steps:
      - uses: actions/checkout@v3
      - name: Read file
        id: read-file
        run: |
          VERSIONS=$(cat $GITHUB_WORKSPACE/.github/workflows/versions.json)
          echo "versions=$VERSIONS" >> $GITHUB_OUTPUT

# Run tests on pharo versions described in the file pharo-versions.json
  build:
    runs-on: ubuntu-latest
    needs:
      - get-versions
    strategy:
      matrix: 
        smalltalk: ${{ fromJSON(needs.get-versions.outputs.versions).pharo-versions }}
    name: ${{ matrix.smalltalk }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Option fetching all commits
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      - run: smalltalkci -s ${{ matrix.smalltalk }}
        shell: bash
        timeout-minutes: 15
